@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #f9fafb;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn {
  @apply bg-gray-200 text-gray-500 py-2 px-4 mx-2 rounded-2xl;
}

.btn-bare {
  @apply py-2 px-4 mx-2 rounded-2xl;
}
